* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

header nav > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}

header nav > div > button.menu-toggle {
    display: none;
}

header nav > div ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header nav > div ul li > a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

header hr {
    opacity: 50%;
}

main {
    /* max-width: 1140px; */
    margin: 20px auto 0;
}

section h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 50px;
}

section > p {
    text-align: center;
}

main section.home-herosection {
    background-image: url(../wwwroot/assets/img/beautiful-tropical-beach-and-sea-with-chair-on-blue-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;  
    background-position-y: -50px;  

    color: rgb(255, 255, 0);

    height: 80vh;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-herosection h1,h4 {
    text-shadow:1px  1px 2px rgb(0, 0, 0); 
  }

.home-herosection h1 {
    font-size: 3.6rem;
    font-weight: 200;
    text-transform: none;
}

.home-herosection h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

.container {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 80px 25px;
}

.container.reverse {
    flex-direction: row-reverse;
}

.container .text-box {
    max-width: 500px;
}

.container .text-box h3 {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.container .text-box p {
    margin-bottom: 20px;
}

.container .text-box a {
    background-color: #1b6ec2;
    color: white;
    padding: 15px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.container .img-box {
    width: 100%;
}

.container .img-box img{
    display: block;
    margin: 0 20% 0 auto;
}

.container.reverse .img-box img {
    margin: 0 auto 0 20%;
}

table {
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid black;
}

table thead{
    border: 1px solid black;
    text-align: left;
    font-size: 1.2rem;
}

table thead th {
    padding:10px 0; 
}

table thead th:first-child {
    width: 30%;
}
table td {
    border-top: 1px solid black;
    padding: 10px 0;
}

table a {
    text-decoration: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-evenly;
    text-align: center;
}

.cards > .card {
    /* max-width: 400px; */
    border: 1px solid rgb(207, 207, 207);
    flex: 0 0 250px;
    max-width: 400px;
}

.cards > div img {
    width: 100%;
}

.cards .card .card-body {
    padding: 20px;
}

.cards > .card h5 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;

    height: 60vh;
}

form .form-field label{
    display: block;
    text-align: center; 
}

form .form-field input,textarea {
    border: 1px solid rgb(205, 205, 205);
    min-height: 35px;
    width: 200px;

    border-radius: 5px;
}

form button.btn {
    padding: 12px 24px;
    color: white;
    border: none;
    background-color: #1b6ec2;
}


@media all and (max-width: 720px) {

    header nav > div {
        justify-content: space-between;
        position: relative;
        /* background-color: rgb(0, 0, 0,.4); */
        
    }
    
    header nav > div ul {
        /* display: flex; */
        display: none;
        flex-direction: column;
        position: absolute;
        right: 50%;
        top: 100px;
        transform:translatex(50%);

        padding: 20px 0;
        height: 80vh;
        width: 100vw;
        
        text-align: center;

    }

    header nav > div ul.on {
        display: flex;
        background-color: rgb(236, 236, 236);
        font-size: 1.2rem;
    }
    
    header nav > div > button.menu-toggle {
        display: flex;
        flex-direction: column;
        border: none;    
    }

    header nav > div button span.bar {
        display: block;
        width: 25px;
        height: 2px;
        margin: 3px;
        background-color: black;
    }

    .home-herosection {
        max-height: 300px;
        min-height: 250px;
      }

      .container .img-box{
          display: none;
      }

      .container .text-box {
          text-align: center;
          margin: 0 auto;
      }
}
