@model AgenciaViagemUp.Models.PassagemModel

@{
    ViewData["Title"] = "Create Passagem";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Criar</title>
</head>
<body>

<h4>Criar Passagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteModelId" class="control-label">Nome Cliente</label>
                <select asp-for="ClienteModelId" class ="form-control" asp-items="ViewBag.ClienteModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DestinoModelId" class="control-label">Destino da Viagem</label>
                <select asp-for="DestinoModelId" class ="form-control" asp-items="ViewBag.DestinoModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label">Preço</label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

</body>
</html>
