@{
    ViewData["Title"] = "Home Page";
}

<section class="container-fluid">

    <div class="home-herosection text-center row align-items-center justify-content-center">
        <div>
            <h1 class="display-4">Agencia De Viagens Up</h1>
            <h4 class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis a</h4>
        </div>
    </div>

    <div class="row d-sm-flex flex-row p-4 mt-5 mb-5 ">
        <div class="col-sm-6 align-self-center flex-grow-1 ">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, laudantium minima quae unde qui, ex aliquid animi officia, dolore alias praesentium ut? Deleniti sunt reprehenderit, eum adipisci esse incidunt nesciunt?</p>
            <a class="button btn-lg btn-primary" asp-area="" asp-controller="Cliente" asp-action="Index">Ver Clientes</a>
        </div>
        <div class="col-sm-4 offset-sm-2 ">
            <img src="~/assets/icons/user.png" width="200" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row d-sm-flex flex-row-reverse p-4 mt-5 mb-5">
        <div class="col-sm-6 offset-sm-2 align-self-center flex-grow-1 ">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, laudantium minima quae unde qui, ex aliquid animi officia, dolore alias praesentium ut? Deleniti sunt reprehenderit, eum adipisci esse incidunt nesciunt?</p>
            <a class="button btn-lg btn-primary" asp-area="" asp-controller="Destino" asp-action="Index">Ver Destinos</a>
        </div>
        <div class="col-sm-4">
            <img src="~/assets/icons/place.png" width="200" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row d-sm-flex flex-row p-4 mt-5 mb-5">
        <div class="col-sm-6 align-self-center flex-grow-1 ">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, laudantium minima quae unde qui, ex aliquid animi officia, dolore alias praesentium ut? Deleniti sunt reprehenderit, eum adipisci esse incidunt nesciunt?</p>
            <a class="button btn-lg btn-primary" asp-area="" asp-controller="Passagem" asp-action="Index">Ver Passagens</a>
        </div>
        <div class="col-sm-4 offset-sm-2 ">
            <img src="~/assets/icons/tickets.png" width="200" alt="" class="img-fluid">
        </div>
    </div>

</section>
