USE [master]
GO
/****** Object:  Database [AgenciaViagemUp]    Script Date: 20/12/2021 20:38:52 ******/
CREATE DATABASE [AgenciaViagemUp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgenciaViagemUp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERRECODE191121\MSSQL\DATA\AgenciaViagemUp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgenciaViagemUp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERRECODE191121\MSSQL\DATA\AgenciaViagemUp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgenciaViagemUp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgenciaViagemUp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/12/2021 20:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteModel]    Script Date: 20/12/2021 20:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Idade] [int] NOT NULL,
 CONSTRAINT [PK_ClienteModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DestinoModel]    Script Date: 20/12/2021 20:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinoModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pais] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[Cidade] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DestinoModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassagemModel]    Script Date: 20/12/2021 20:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassagemModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteModelId] [int] NOT NULL,
	[DestinoModelId] [int] NOT NULL,
	[Preco] [float] NOT NULL,
 CONSTRAINT [PK_PassagemModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_PassagemModel_ClienteModelId]    Script Date: 20/12/2021 20:38:54 ******/
CREATE NONCLUSTERED INDEX [IX_PassagemModel_ClienteModelId] ON [dbo].[PassagemModel]
(
	[ClienteModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PassagemModel_DestinoModelId]    Script Date: 20/12/2021 20:38:54 ******/
CREATE NONCLUSTERED INDEX [IX_PassagemModel_DestinoModelId] ON [dbo].[PassagemModel]
(
	[DestinoModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PassagemModel]  WITH CHECK ADD  CONSTRAINT [FK_PassagemModel_ClienteModel_ClienteModelId] FOREIGN KEY([ClienteModelId])
REFERENCES [dbo].[ClienteModel] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PassagemModel] CHECK CONSTRAINT [FK_PassagemModel_ClienteModel_ClienteModelId]
GO
ALTER TABLE [dbo].[PassagemModel]  WITH CHECK ADD  CONSTRAINT [FK_PassagemModel_DestinoModel_DestinoModelId] FOREIGN KEY([DestinoModelId])
REFERENCES [dbo].[DestinoModel] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PassagemModel] CHECK CONSTRAINT [FK_PassagemModel_DestinoModel_DestinoModelId]
GO
USE [master]
GO
